# Ignore everything
*/*/*
*/*.md
GRE/*

# Except for these files:
!Angry-Archer/_scripts/*
!Angry-Archer/_settings/*
!Angry-Archer/_templates/*
!Angry-Archer/.obsidian/*

# Additional ignores
*.png
*.jpg
*.jpeg
*.mp3
*.mp4
*.wav