/* 
The <kbd> HTML element represents a span of inline text denoting textual
user input from a keyboard, voice input, or any other text entry device. 
*/

kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
		0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
	color: #333;
	display: inline-block;
	font-size: 0.85em;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
	cursor: pointer;
}

/* .cm-s-obsidian span.cm-inline-code {
	color: #ff7300;
} */

.markdown-preview-view code {
	color: #ff7300;
	background-color: #0e0e0e;
	font-size: 1.0325em;
	font-weight: 500;
	border-radius: 3px;
	border: 1px solid #b4b4b43a;
}

mjx-container {
	line-height: 0px;
	font-size: calc(1.5 * var(--font-adaptive-normal));
}
